        
h1{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;        
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
    text-align: center;
    font-size:50px;
}
footer
{
    font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;        
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
        .outer-div
        {
            border:1px solid black;
            display:flex;
            justify-content: center;
            align-items: center;
            height:100vh;
        }
        .inner-div
        {
            display:flex;
        }
        img
        {
            border:2px solid black;
            border-radius:10px;
        }
        
        form
        {
            display:flex;
            justify-content: center;
            align-items: center;
        }
        input
        {
            box-shadow: 0 2px 2px 2px black;
            background-color: white;
            width:100px;
            height:50px;
            margin-left:50px;
            border-radius:20px;
        }
        