<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Random Dog Images and Videos</h1>
    <div class ="outer-div">
        <div class ="inner-div">
            <img style ="max-width:400px"src ="<%=content  %>">
        </div>
        <form method="post">
            <input type="submit" value="Next"formaction="/dog-image">
        </form>
    </div>
    <hr>
    <footer>
        @Copyright 2025 Rahul
    </footer>
</body>
</html>